<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CourseunitfileMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Courseunitfile" >
    <result column="tec_course_unit_fileid" property="tecCourseUnitFileid" jdbcType="INTEGER" />
    <result column="unitid" property="unitid" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tec_course_unit_fileid, unitid, filename, fileurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.CourseunitfileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tec_course_unit_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pojo.CourseunitfileExample" >
    delete from tec_course_unit_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Courseunitfile" >
    insert into tec_course_unit_file (tec_course_unit_fileid, unitid, filename, 
      fileurl)
    values (#{tecCourseUnitFileid,jdbcType=INTEGER}, #{unitid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{fileurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Courseunitfile" >
    insert into tec_course_unit_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tecCourseUnitFileid != null" >
        tec_course_unit_fileid,
      </if>
      <if test="unitid != null" >
        unitid,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="fileurl != null" >
        fileurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tecCourseUnitFileid != null" >
        #{tecCourseUnitFileid,jdbcType=INTEGER},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.CourseunitfileExample" resultType="java.lang.Integer" >
    select count(*) from tec_course_unit_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tec_course_unit_file
    <set >
      <if test="record.tecCourseUnitFileid != null" >
        tec_course_unit_fileid = #{record.tecCourseUnitFileid,jdbcType=INTEGER},
      </if>
      <if test="record.unitid != null" >
        unitid = #{record.unitid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.fileurl != null" >
        fileurl = #{record.fileurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tec_course_unit_file
    set tec_course_unit_fileid = #{record.tecCourseUnitFileid,jdbcType=INTEGER},
      unitid = #{record.unitid,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      fileurl = #{record.fileurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>